/* PROJECT */
.Project {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;

  height: 100px;
  margin: 10px 20px;
  overflow: hidden;
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.project__top {
  display: flex;
  align-items: center;

  padding: 10px;

  background: rgba(0, 255, 0, .7);
}

.project__bottom {
  display: flex;
  align-items: center;
  flex-grow: 1;

  padding: 10px;


  background: rgba(255, 255, 255, .7);
}

/* END PROJECT */
